@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.ttf?t=1541051475155') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-neirongweikong-da-px:before {
  content: "\e81e";
}

.icon-Social-contact-px:before {
  content: "\e824";
}

.icon-tool-px:before {
  content: "\e825";
}

.icon-Selected-px:before {
  content: "\e826";
}

.icon-ntertainment-px:before {
  content: "\e827";
}

.icon-switch-px:before {
  content: "\e828";
}

.icon-Shopping-px:before {
  content: "\e829";
}

.icon-Game-px:before {
  content: "\e82a";
}

.icon-Close-box-px:before {
  content: "\e82b";
}

.icon-minibai-extend-logo-:before {
  content: "\e82c";
}

.icon-gengduo-sousuo-px:before {
  content: "\e601";
}

